<div class="footer">
    <div class="footer-content">
        <a class="footer-logo"><h5>BookAddict</h5></a>
        <div class="footer-services">
            <div class="footer-title">Features</div>
            <div class="footer-list">
                <a href="#"><p>Reading Lists</p></a>
                <a href="#"><p>About us</p></a>
                <a href="#"><p>Art of Reading</p></a>
            </div>
        </div>
        <div class="footer-contacts">
            <div class="footer-title">Contacts</div>
            <div class="footer-list">
                <p>Phone Number</p>
                <p>Email</p>
                <p>Instagram</p>
            </div>
        </div>
    </div>
</div>