<header>
    <div class="navbar">
        <a class="logo" href="/"><h5 class="logo">BookAddict</h5></a>
        <ul class="nav-content">
            <li><a href="about">About</a></li>
            <li><a href="foryou">For You</a></li>
            <li><a href="celebrity">Celebrity Picks</a></li>
            <li><a href="readlist">Reading Lists</a></li>
        </ul>
        <a class="cta" href="login"><button>Login</button></a>
        <a class="cta" href="signup"><button>Sign up</button></a>
    </div>
</header>