<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About BookAddict</title>

    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<%- include('../partials/header') %>

<div class="about-content">
    <img src="images/about.jpg">
    <h1 class="about-title">What is BookAddict?</h1>
</div>

<div class="why-bookaddict">
    <p>BookAddict is a multifunctional website, where you can get personal recommendations by taking a survey, find
    interesting reading lists, explore about celebrities taste in books and so on. Here you can read an information
    about new bestsellers, create your own reading lists.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer congue sit amet odio euismod bibendum. Suspendisse est neque, tincidunt at volutpat quis, fermentum
        varius arcu. Donec ac viverra lorem. Suspendisse vitae pretium lorem. Praesent purus ex, pulvinar ut fringilla
        non, finibus nec eros. Vivamus maximus pretium vestibulum. Vivamus faucibus finibus ipsum, vel maximus mauris
        gravida eget. Phasellus euismod quam non scelerisque ultrices.
    </p>
</div>

<%- include('../partials/footer') %>

</div>

<script src="routes/routing.js"></script>

</body>
</html>